@font-face {
	font-family: "Tgothic";
	src: url("/src/assets/fonts/Tgothic/TgothicLight.otf");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Tgothic";
	src: url("/src/assets/fonts/Tgothic/TgothicMedium.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Tgothic";
	src: url("/src/assets/fonts/Tgothic/TgothicBlack.ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@keyframes hue-rotation {
	0% {
		filter: hue-rotate(calc(360deg / 6 * 0))
	}

	50% {
		filter: hue-rotate(calc(360deg / 6 * 5))

	}

	100% {
		filter: hue-rotate(calc(360deg / 6 * 0))

	}
}